---
layout: default
---

<!-- about.html -->
<div class="post" id="about">
  <article>
    {% if page.profile -%}
    <div
      class="profile float-{%- if page.profile.align == 'left' -%}left{%- else -%}right{%- endif -%}"
    >
      {%- if page.profile.image %} {%- assign profile_image_path =
      page.profile.image | prepend: 'assets/img/' -%} {% if
      page.profile.image_circular %} {%- assign profile_image_class = "img-fluid
      z-depth-1 rounded-circle" -%} {% else %} {%- assign profile_image_class =
      "img-fluid z-depth-1" -%} {% endif %} {% include figure.html
      path=profile_image_path class=profile_image_class alt=page.profile.image
      cache_bust=true -%} {% endif -%} {%- if page.profile.more_info %}
      <header class="post-header">
        <h1 class="post-title">
          Hi, I'm {% if site.title == "blank" -%}<span class="font-weight-bold"
            >{{ site.first_name }}</span
          >
          {{ site.middle_name }} {{ site.last_name }}{%- else -%}{{ site.title
          }}{%- endif %}
        </h1>
        <p class="desc">{{ page.subtitle }}</p>
      </header>
      <div class="more-info">
        {{ page.profile.more_info }}
        <div class="contact-icons">{% include social.html %}</div>
        <a href="https://www.admonymous.co/flares">Anonymous feedback</a>
      </div>
      {%- endif %}
    </div>
    {%- endif %}

    <div class="clearfix">
      {{ content }}
      <div class="next-info">
        <!-- News -->
        {% if page.news and site.announcements.enabled -%}
        <!-- <h2>
          <a href="{{ '/news/' | relative_url }}" style="color: inherit"
            >news</a
          >
        </h2> -->
        {%- include news.html limit=true %} {%- endif %}
      </div>
    </div>
  </article>
</div>
<div id="research">
  {% assign research_content = site.pages | where: "name", "research.md" | first
  %} {{ research_content.content | markdownify }}
</div>
<div class="publications" id="publications">
  <h2><strong>Publications</strong></h2>
  <p>* = Equal Contribution</p>
  {%- for y in page.years %}
  <h3 class="year">{{y}}</h3>
  {% bibliography -f papers -q @*[year={{y}}]* %} {% endfor %}
</div>
<div class="talks--container" id="talks">
  {% assign talks_content = site.pages | where: "name", "talks.md" | first %} {{
  talks_content.content | markdownify }}

  <hr />
</div>
<div class="awards--container" id="awards">
  {% assign awards_content = site.pages | where: "name", "awards.md" | first %}
  {{ awards_content.content | markdownify }}
  <!-- <h2 id="-awards-and-honors-">
    <strong>Selected Awards and Honors</strong> :
  </h2>
  <ul class="awards-list">
    <li class="award-item">
      <span class="award-year">2022 - 2023</span>
      <span class="award-info"
        >Future of Humanities institute PhD affiliate</span
      >
    </li>
    <li class="award-item">
      <span class="award-year">2019 - 2023</span>
      <span class="award-info"
        >ESPRS PhD Student scholarship (full tuition and stipend)</span
      > -->
  <!-- <a href="#">Link</a> -->
  <!-- </li>
    <li class="award-item">
      <span class="award-year">2017 - 2018</span>
      <span class="award-info">MSc Scholarship (Full tuition)</span>
    </li>
    <li class="award-item">
      <span class="award-year">2013 - 2017 </span>
      <span class="award-info"
        >BA (Hons) Sports performance Scholarship (Partial Tuition and
        stipend)</span
      > -->
  <!-- <a href="#">Link</a> -->
  <!-- </li> -->
  <!-- </ul> -->
</div>
<!-- Social -->
{%- if page.social %}
<div class="social">
  <!-- <div class="contact-note">Thank you for reading till here</div> -->
</div>
{%- endif %}
<script
  src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"
></script>

<script src="/al-folio/assets/js/bootstrap.bundle.min.js"></script>

<script
  src="https://cdn.jsdelivr.net/npm/mdbootstrap@4.20.0/js/mdb.min.js"
  integrity="sha256-NdbiivsvWt7VYCt6hYNT3h/th9vSTL4EDWeGs5SN3DA="
  crossorigin="anonymous"
></script>

<script
  defer
  src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
  integrity="sha256-Nn1q/fx0H7SNLZMQ5Hw5JLaTRZp0yILA/FRexe19VdI="
  crossorigin="anonymous"
></script>

<script
  defer
  src="https://cdn.jsdelivr.net/npm/imagesloaded@4/imagesloaded.pkgd.min.js"
></script>
